@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 261.2 100% 95%;
		--foreground: 261.2 5% 7%;
		--card: 261.2 50% 90%;
		--card-foreground: 261.2 5% 10%;
		--popover: 261.2 100% 95%;
		--popover-foreground: 261.2 100% 7%;
		--primary: 261.2 72.6% 22.9%;
		--primary-foreground: 0 0% 100%;
		--secondary: 261.2 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 223.2 30% 85%;
		--muted-foreground: 261.2 5% 35%;
		--accent: 223.2 30% 80%;
		--accent-foreground: 261.2 5% 10%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 261.2 5% 90%;
		--border: 261.2 30% 50%;
		--input: 261.2 30% 18%;
		--ring: 261.2 72.6% 22.9%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 261.2 50% 7%;
		--foreground: 261.2 5% 90%;
		--card: 261.2 50% 7%;
		--card-foreground: 261.2 5% 90%;
		--popover: 261.2 50% 5%;
		--popover-foreground: 261.2 5% 90%;
		--primary: 261.2 72.6% 22.9%;
		--primary-foreground: 0 0% 100%;
		--secondary: 261.2 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 223.2 30% 15%;
		--muted-foreground: 261.2 5% 60%;
		--accent: 223.2 30% 15%;
		--accent-foreground: 261.2 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 261.2 5% 90%;
		--border: 261.2 30% 18%;
		--input: 261.2 30% 18%;
		--ring: 261.2 72.6% 22.9%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
